@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	transition: all .5s ease-in-out;
	font-family: "Roboto", sans-serif;
}

article {
	max-width: 600px;
	width: 100%;
	margin: 30px auto;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 
					6px 6px 12px rgba(0, 0, 0, 0.3),
					-6px -6px 12px rgba(255, 255, 255, 0.3);
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 20px;
	border-bottom: 1px solid rgb(189, 189, 189);
	padding-bottom: 10px;
}

h1 span {
	color: brown;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 30px;
}

nav a {
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 500;
	color: black;
}


.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

nav a:hover, .activ{
	text-decoration: underline;
	color: brown;
}

section {
	margin-block: 12px 20px;
}

.title {
	font-size: 20;
	margin-block: 8px;
    text-transform: capitalize;
	color: brown;
}

.fullName {
    margin-block: 10px 20px;
    text-align: center;
	color: brown;
}

.profilePicture {
	width: 250px;
	height: 250px;
	margin: 40px auto 20px;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
    object-fit: cover;
}

li {
	margin-block-end: 8px;
	list-style: none;
}

a {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: underline;
	color: brown;
}

p {
	line-height: 24px;
	letter-spacing: 2px;
}

/* contact form */
form {
	max-width: 500px;
	margin: 2rem auto;
	padding: 2rem;
	background: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-title {
	text-align: center;
	margin: 20px 0;
	color: brown;
}

form div {
	margin-bottom: 1.5rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
	text-transform: capitalize;
}

input,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
	outline: none;
}

input:focus, 
textarea:focus {
	border: 1px solid brown;
}
textarea {
    resize: none;
    min-height: 100px;
}

.btn-block button {
    background-color: brown;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
	width: 100%;
}

.btn-block button:hover {
    background-color: rgb(146, 7, 7);
}

.error {
	display: block;
	margin-top: 0.3rem;
	color: #d93025;
	font-size: 0.9rem;
}

.success-message {
    max-width: 500px;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    font-size: 1rem;
    display: none;
}

.success-message.show {
    display: block;
}

/* About */
main section {
	margin: 30px 0;
}

main section h3 {
	color: brown;
	margin-bottom: 10px;
}

.salutation {
	margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
	article {
		width: 100%;
		padding: 16px;
		margin: 10px;
	}
}

@media screen and (max-width: 425px) {
    .profilePicture {
        width: 100%;
    }

	header h1 {
		font-size: 24px;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		height: 100vh;
		width: 80vw;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #f0f0f0;
		padding: 2rem 1.5rem;
		box-shadow: 2px 0 5px rgba(0,0,0,0.2);
		justify-content: flex-start;
		align-items: flex-start;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
		pointer-events: none;
		/* opacity: 0; */
	}

	.nav-links a {
		margin: 20px 0;
	}

	.nav-links.active {
		display: flex;
		transform: translateX(0);
      	pointer-events: auto;
	}

	.hamburger {
		display: block;
	}

	.nav-links a {
		margin-bottom: 1rem;
		text-decoration: none;
		font-size: 1.2rem;
	}

	form {
		padding: 2rem 1rem;
	}
}